@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
html,
body {
  background: #fff;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.logo a {
  color: #507501;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 17px;
  font-weight: 500;
}
ul {
  display: flex;
  position: relative;
  top: 20%;
  right: 6%;
}
ul li {
  padding: 30px;
  text-transform: uppercase;
  color: #507501;
  font-weight: 500;
}
ul li i {
  font-size: 25px;
  display: none;
}
ul li:hover {
  color: rgb(1, 70, 1);
  cursor: pointer;
  transition: all 0.6s ease-in;
}
section {
  display: flex;
  justify-content: space-between;
  position: absolute;
}
img {
  width: 650px;
  position: relative;
  bottom: 5%;
}
.main-text {
  position: relative;
  margin-top: 180px;
}
h1 {
  font-size: 50px;
  color: #507501;

  font-weight: 400;
}
p {
  font-size: 18px;
  width: 80%;
  margin-top: 50px;
  color: rgb(0, 62, 0);
}
button.btn-1 {
  background-color: #507501;
  color: #fff;
  margin-top: 40px;
  padding: 8px 35px;
  border-radius: 30px;
  font-weight: 600;
}
button.btn-1:hover {
  background: transparent;
  border: 2px solid #507501;
  color: #507501;
  transition: all 0.6s ease;
  text-align: center;
}

.sec {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: 650px;
}
.first-sec {
  background: #507501;
  width: 100%;
  height: 5px;
  margin-left: 10px;
}
.img-2 img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  object-fit: cover;
}
.h1-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Change as needed */
  font-size: 55px; /* Adjust as needed */
  font-weight: bold; /* Optional */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Optional */
}
button.btn-2 {
  background-color: #4f7601;
  color: #fff;
  margin-top: 40px;
  padding: 25px 250px;
  border-radius: 30px;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.h3-2 {
  color: rgb(216, 216, 216);
  position: absolute;
  top: 36%;
  left: 37%;
  transform: translate(-50%, -50%);
  letter-spacing: 6px;
}
i.one {
  color: rgb(216, 216, 216);
  position: absolute;
  top: 36%;
  left: 66%;
  font-size: 28px;
  transform: translate(-50%, -50%);
}
.button-1 {
  display: flex;
  flex-direction: column; /* Layout items in a vertical column */
  gap: 20px;
  width: 200px;
  margin-top: 20px;
}
.btn-3 {
  background-color: rgb(174, 174, 174);
  padding: 15px 40px;
  border: 1px solid #ccc;
  font-weight: 600;
  color: #646464;
  border-radius: 30px;
}
.btn-3-1 {
  background-color: #4f7601;
  padding: 15px 40px;
  border: 1px solid #ccc;
  color: white;
  font-weight: 600;
  border-radius: 30px;
}
.img-box img {
  width: 250px;
  height: 170px;
  left: 15%;
  position: relative;
  bottom: 245px;
  margin-left: 20px;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}
#heading {
  position: absolute;
  left: 17%;
}
.h3-1 {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 400;
  margin-left: 235px;
  position: absolute;
  bottom: 11%;
}
.h2-1 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-left: 235px;
  position: absolute;
  bottom: 8%;
  font-weight: bold;
}
.btn-4 {
  color: rgb(43, 43, 43);
  font-size: 17px;
  margin-left: -723px;
  position: absolute;
  bottom: 7%;
  font-weight: bold;
  padding: 2px 25px;
  border-radius: 20px;
  background-color: #4f7601;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
}
.h3-3 {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 400;
  margin-left: 510px;
  position: absolute;
  bottom: 11%;
}
.h2-3 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-left: 510px;
  position: absolute;
  bottom: 8%;
  font-weight: bold;
}
.btn-5 {
  color: rgb(43, 43, 43);
  font-size: 17px;
  margin-left: -450px;
  position: absolute;
  bottom: 7%;
  font-weight: bold;
  padding: 2px 25px;
  border-radius: 20px;
  background-color: #4f7601;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
}
.h3-4 {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 400;
  margin-left: 790px;
  position: absolute;
  bottom: 11%;
}
.h2-4 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-left: 790px;
  position: absolute;
  bottom: 8%;
  font-weight: bold;
}
.btn-6 {
  color: rgb(43, 43, 43);
  font-size: 17px;
  margin-left: -170px;
  position: absolute;
  bottom: 7%;
  font-weight: bold;
  padding: 2px 25px;
  border-radius: 20px;
  background-color: #4f7601;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
}
.h3-5 {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 400;
  margin-left: 1060px;
  position: absolute;
  bottom: 11%;
}
.h2-5 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-left: 1060px;
  position: absolute;
  bottom: 8%;
  font-weight: bold;
}
.btn-7 {
  color: rgb(43, 43, 43);
  font-size: 17px;
  margin-left: 110px;
  position: absolute;
  bottom: 7%;
  font-weight: bold;
  padding: 2px 25px;
  border-radius: 20px;
  background-color: #4f7601;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
}
.sec-1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: 1350px;
  background-color: #f6f6f6;
  position: absolute;
}
.main-sec {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.main-3 {
  margin-left: 650px;
}
.main-3 h3 {
  font-size: 22px;
  text-align: end;
  font-weight: lighter;
}
.main-3 .btn-8 {
  background-color: #fff;
  border: 1px solid black;
  color: black;
  padding: 5px 15px;
  margin-top: 10px;
  margin-left: 100px;
}
#main-2 {
  position: relative;
  left: 25%;
  text-align: center;
  line-height: 30px;
}
#main-2 h1 {
  font-size: 80px;
  font-weight: bold;
}
#main-2 h2 {
  font-size: 30px;
  font-weight: 500;
}
.main-1 {
  position: relative;
  left: 4%;
}
.img-3 {
  width: 600px;
  height: 240px;
  border-radius: 20px;
  position: absolute;
  right: 52%;
  bottom: 32%;
}
.img-p {
  color: black;
  width: 20%;
  position: absolute;
  right: 76%;
  top: 63%;
  font-weight: 600;
}
.btn-9 {
  background-color: #4f7601;
  border: none;
  padding: 15px 35px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  right: 82%;
  top: 88%;
}
.img-4 {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 69%;
  left: 35%;
}
.img-5 {
  width: 200px;
  height: 280px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 1120px;
  bottom: 150px;
}
.img-6 {
  width: 200px;
  height: 280px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 895px;
  bottom: 3%;
}
.img-7 {
  width: 200px;
  height: 280px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 670px;
  bottom: 25%;
}
.img-8 {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 895px;
  bottom: 50%;
}
.img-9 {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 1120px;
  bottom: 3%;
}
.img-10 {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 670px;
  bottom: 3%;
}
.sec-2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: 2100px;
  background-color: #4f7601;
}
.h1-2 h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  position: relative;
  left: 450px;
  top: 10%;
}

.card {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  right: 70%;
  top: 30%;
}
.h1-3 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.h3-6 {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.list h3 {
  font-size: 16px;
  width: 80%;
  margin-left: 25px;
  font-weight: lighter;
  line-height: 30px;
}
.line {
  width: 250px;
  height: 2px;
  background-color: #507501;
  margin-left: 22px;
  margin-top: 20px;
}
.h1-4 h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
}
.h1-4 span {
  font-size: 15px;
  margin-left: 20px;
}
.arrow {
  font-size: 40px;
  position: absolute;
  bottom: 5%;
  left: 80%;
  background-color: #4f7601;
  border-radius: 400px;
  color: white;
}
.card-1 {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  right: 220px;
  top: 30%;
}
.h1-5 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.h3-7 {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.list1 h3 {
  font-size: 16px;
  width: 80%;
  margin-left: 25px;
  font-weight: lighter;
  line-height: 30px;
}
.line1 {
  width: 250px;
  height: 2px;
  background-color: #507501;
  margin-left: 22px;
  margin-top: 20px;
}
.h1-6 h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
}
.h1-6 span {
  font-size: 15px;
  margin-left: 20px;
}
.arrow1 {
  font-size: 40px;
  position: absolute;
  bottom: 5%;
  left: 80%;
  background-color: #4f7601;
  border-radius: 400px;
  color: white;
}
.card-2 {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  left: 500px;
  top: 30%;
}
.h1-7 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.h3-8 {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  line-height: 40px;
  margin-left: 18px;
  margin-top: 16px;
}
.list2 h3 {
  font-size: 16px;
  width: 80%;
  margin-left: 25px;
  font-weight: lighter;
  line-height: 30px;
}
.line2 {
  width: 250px;
  height: 2px;
  background-color: #507501;
  margin-left: 22px;
  margin-top: 20px;
}
.h1-8 h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
}
.h1-8 span {
  font-size: 15px;
  margin-left: 15px;
}
.arrow2 {
  font-size: 40px;
  position: absolute;
  bottom: 5%;
  left: 80%;
  background-color: #4f7601;
  border-radius: 400px;
  color: white;
}
.sec-3 {
  width: 100%;
  height: 80vh;
  position: absolute;
  margin-top: 2700px;
  background-color: #e8e8e8;
  position: absolute;
}
.main-footer {
  width: 100%;
}
.foot1 {
  width: 30%;
  height: auto;
}
.logo1 a {
  font-size: 30px;
  font-weight: bold;
  color: #4f7601;
}
.logo1 {
  margin-top: 60px;
  margin-left: 60px;
}
.foot1 p {
  margin-left: 60px;
  width: 90%;
}
input {
  padding: 15px 60px;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 30px;
  text-align: start;
}
.foot2 {
  width: 30%;
  height: auto;
  border-color: #fc0606;
  margin-left: 45%;
  position: relative;
  bottom: 50%;
}
.foot2 h2 {
  font-size: 30px;
  color: #4f7601;
}
.ul-1 {
  flex-direction: column;
  align-items: first baseline;
}
.ul-1 li {
  margin: 1px;
  margin: -10px;
}
.foot3 {
  width: 30%;
  height: auto;
  border-color: #fc0606;
  margin-left: 70%;
  position: relative;
  bottom: 575px;
}
.foot3 h2 {
  font-size: 30px;
  color: #4f7601;
}
.social i {
  display: flex;
  margin: 20px;
  font-size: 40px;
}
.line3 {
  width: 1250px;
  height: 2px;
  background-color: #4f7601;
  position: relative;
  top: 0%;
  right: 890px;
}
h2.h2-6 {
  font-size: 16px;
  position: relative;
  right: 880px;
  top: 10px;
}
h2.h2-7 {
  font-size: 16px;
  position: relative;
  left: 200px;
  bottom: 10px;
  cursor: pointer;
}
